<div class="announcement-banner" *ngIf="showBanner">
  <div class="container-fluid">
    <div class="announcement-content">
      <button class="close-btn" (click)="closeBanner()" aria-label="Close announcement">
        <i class="bi bi-x-lg"></i>
      </button>
      <div class="announcement-text">
        <i class="bi bi-megaphone-fill me-2"></i>
        <span>{{ currentAnnouncement.text }}</span>
      </div>
      <a [href]="currentAnnouncement.link" class="announcement-cta">
        {{ currentAnnouncement.cta }} <i class="bi bi-arrow-right ms-1"></i>
      </a>
    </div>
  </div>
</div>
